
.ubi_plugin {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    max-width: 100% !important;
    color: #fff; 
}

.ubi_plugin .ubi_inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: cornflowerblue;
}

.ubi_plugin .filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(50, 50, 50, 0.4);
}

.ubi_title {
    z-index: 10;
}

.ubi_plugin h1,
.ubi_plugin h2,
.ubi_plugin h3,
.ubi_plugin h4,
.ubi_plugin h5 {
    margin: 0;
}